<!-- Footer section -->
<footer>
    <!-- Fixed-bottom navbar with a light text color on a primary background -->
    <nav class="navbar fixed-bottom navbar-light bg-primary">
        <!-- Footer text -->
        <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved</h6>
    </nav>
</footer>
</body>
</html>
