header {
    background-color: #4a90e2; /* Darker blue for a professional tone */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: lightgreen;
    color: #333333; /* Dark gray for better readability */
}


.navbar {
    background-color: #0056b3;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
    font-size: 2rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.navbar .nav-link {
    color: white;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #ffdd57; /* Golden hover effect for contrast */
    transform: scale(1.2);
    
}

.navbar .nav-link i {
    margin-right: 10px;
}
/* Hero Section */
h1 {
    font-size: 4rem;
    color: #333333;
    font-family:'Roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
}
